.preview{
	width: 400px;
	height: 400px;
	overflow:auto;
}

img{
	max-width:400px;
	max-height:400px;
}
#fileDrop{
	width:400px;
	height:100px;
	text-align: center;
}
#fileDrop.dragOver{
	background-color: #ddd;
}