.button{
	position:relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: lightgray;
    top:200px;
    font-weight: bold;
}
.button:hover{
	background: darkgray;
}

.button.disabled{
	pointer-events: none;
	opacity: 0.4;
}

.parentWrapper{
	overflow:hidden;
	width: 1000px;
	height:400px;
}
#sliderWrapper{
	height:400px;
}
img{
	width: 1000px;
	height:400px;
}
#sliderWrapper>span.active{
	float: left;
    position: relative;
    transform: translate3d(0,0,0);
}
#sliderWrapper>.prevActive img{
	float: left;
    position: relative;
    width: 500px;
}
#sliderWrapper>nextActive img{
	float: right;
    position: relative;
    width: 500px;
}